body{
    background-color: hsl(217, 54%, 11%);
    font-size: 18px;
    font-family: 'Outfit', sans-serif;
    padding-top: 80px;
}
h2{
    color: hsl(0, 0%, 100%);
    font-size: 20px;
    font-weight: 600;
}

h2:hover{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 275px;
    background-color: hsl(216, 50%, 16%);
    border-radius: 10px;
}

.prod-img{ 
    position: relative;
    padding: 20px 20px 0 20px;

}

.prod-img div{
    position: absolute;
    background-color: hsl(178, 100%, 50%, 60%);
    top: 20px;
    height: 90%;
    width: 86%;
    border-radius: 10px;
    opacity: 0;
    transition: 0.5s all ease;
}

.prod-img div:hover{
    opacity: 1;
    cursor: pointer;
}

.prod-img div img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
 
.main{
 width: 100%;
 height: 100%;
 border-radius: 10px;
}

.info{
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}

.description{
    color:  hsl(218, 16%, 53%);
    font-size: 300;
    margin: 10px 0;
}

.purchase-info{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid hsl(215, 32%, 27%);
}

.price{
    color: hsl(178, 100%, 50%);
    font-size: 15px;
    font-weight: 400;
}

.duration{
    color:  hsl(218, 16%, 53%);
}

.duration img{
 padding-right: 7px;
}


p.creator{
    color:  hsl(218, 16%, 53%);
    padding-left: 10px;
}

a{
    text-decoration: none;
    color: #fff;
}

a:hover{
    color: hsl(178, 100%, 50%);
}

.profile{
    display: flex;
    align-items: center;
    font-size: 14px;
}

.prof-pic{
    border: 1px solid #fff;
    border-radius: 50%;
    height: 30px;
}

.attribution 
{
    font-size: 11px; 
    text-align: center; 
}
.attribution a 
{ 
    color: hsl(228, 45%, 44%); 
}